<h1>Customer Registration</h1>

<form method="post">
    {% csrf_token %}

    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="phone_number" value="+48" placeholder="Phone Number">
    <input type="text" name="address" placeholder="Address">
    <input type="date" name ="date_of_birth">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Register</button>
</form>

{% if errors %}
    <ul>
        {% for field, error_list in errors.items %}
            {% for error in error_list %}
                <li>{{field}}: {{error}}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}