<h1>Customer Profile</h1>

<div>
    {% csrf_token %}

    <p>
        <strong>Name:</strong> {{ customer.first_name }} {{ customer.last_name }}
    </p>
    <p>
        <strong>Email:</strong>
         {{ customer.email }}
    </p>
    <p>
        <strong>Phone Number:</strong>
         {{ customer.phone_number }}
    </p>
    <p>
        <strong>Address:</strong>
         {{ customer.address }}
    </p>
    <p>
        <strong>Date of Birth:</strong>
         {{ customer.date_of_birth }}
    </p>

</div>

<a href="{% url 'public-car-list-template' %}"><button>View Cars</button></a>
<a href="{% url 'owner-cars-list-template' %}"><button>View My Cars</button></a>
<a href="{% url 'customer-profile-update' %}"><button>Edit Profile</button></a>
<a href="{% url 'buyer-sales-list-template' %}"><button>View My Transactions</button></a>
<a href="{% url 'user-change-password' %}"><button>Change Password</button></a>
<a href="{% url 'customer-car-registration-template' %}"><button>Register a New Car</button></a>
<a href="{% url 'logout' %}"><button>Logout</button></a>