<h1>Employee Profile</h1>

<div>
    {% csrf_token %}

    <p>
        <strong>Name:</strong> {{ employee.first_name }} {{ employee.last_name }}
    </p>
    <p>
        <strong>Email:</strong>
        {{ employee.email }}
    </p>
    <p>
        <strong>Phone Number:</strong>
        {{ employee.phone_number }}
    </p>
    <p>
        <strong>Role:</strong> 
        {{ employee.role }}
    </p>
    <p>
        <strong>Hire Date:</strong> 
        {{ employee.hire_date }}
    </p>
    <p>
        <strong>Salary:</strong> ${{ employee.salary }}
    </p>
</div>

<a href="{% url 'public-car-list-template' %}"><button>View Cars</button></a>
<a href="{% url 'employee-deleted-cars-list-template' %}"><button>View Deleted Cars</button></a>
<a href="{% url 'employee-car-moderation-list-template' %}"><button>View Car Moderation</button></a>
<a href="{% url 'customer-list-template' %}"><button>View Customers</button></a>
<a href="{% url 'staff-sales-list-template' %}"><button>View Transactions</button></a>
<a href="{% url 'user-change-password' %}"><button>Change Password</button></a>
<a href="{% url 'logout' %}"><button>Logout</button></a>

{% if request.user.is_superuser or request.user.employee_profile.role == 'admin' %}
    <a href="{% url 'admin-employee-registration-template' %}"><button>Register Employee</button></a>
    <a href="{% url 'employee-list-template' %}"><button>Employee List</button></a>
{% endif %}