<!-- person/templates/person/employee_list.html -->

<h1>Employee List</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Hire Date</th>
            <th>Salary</th>
            <th>Employment Status</th>
            <th>Layoff Date</th>
            <th>Created At</th>
            <th>Actions</th>
            <th>Employment Status</th>
        </tr>
    </thead>

    <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.get_role_display }}</td>
                <td>{{ employee.hire_date }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.employment_status }}</td>
                <td>{{ employee.layoff_date }}</td>
                <td>{{ employee.created_at }}</td>
                <td>
                    <a href="{% url 'admin-employee-update-template' employee.pk %}">
                    Edit
                    </a>
                </td>
                <td>
                    <a href="{% url 'admin-employee-employment-status-update-template' employee.pk %}">
                    Update Employment Status
                    </a>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11">No employees found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'employee-profile' %}"><button>My Profile</button></a>
<a href="{% url 'admin-employee-registration-template' %}"><button>Register Employee</button></a>
