<h1>Car Moderation List</h1>


<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>Year</th>
            <th>Vin</th>
            <th>Mileage</th>
            <th>Fuel Type</th>
            <th>Transmission</th>
            <th>Vehicle Condition</th>
            <th>Accident Status</th>
            <th>Listing Price</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Owner</th>
            <th>Moderation Status</th>
            <th>Update Moderation Status (Approved)</th>
            <th>Update Moderation Status (Rejected)</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.vin }}</td>
                <td>{{ car.mileage }}</td>
                <td>{{ car.fuel_type }}</td>
                <td>{{ car.transmission }}</td>
                <td>{{ car.vehicle_condition }}</td>
                <td>{{ car.accident_status }}</td>
                <td>{{ car.listing_price }}</td>
                <td>{{ car.description }}</td>
                <td>{{ car.created_at }}</td>
                <td>{{ car.owner.first_name }} {{ car.owner.last_name }}</td>
                <td>{{ car.moderation_status }}</td>
                <td>
                    <form method="post" action="{% url 'employee-car-moderation-update-approved-template' car.id %}">
                        {% csrf_token %}
                        <button type="submit">Update Moderation Status (Approved)</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'employee-car-moderation-update-rejected-template' car.id %}">
                        {% csrf_token %}
                        <button type="submit">Update Moderation Status (Rejected)</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'employee-car-action-update-softdelete-template' car.id %}"></form>
                    {% csrf_token %}
                        <button type="submit">Soft delete car</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'employee-profile' %}"><button>My Profile</button></a>